<nav>
    <li><a href="/">Home</a></li>
    <li><a href="/sobre">Sobre nós</a></li>
    <li><a href="/contato">Contatos</a></li>
    <li><a href="/experiencia">Experiência</a></li>
    <li><a href="/formacao">Formação</a></li>
    <li><a href="/produto/adicionar/10">Adicionar produto 10</a></li>
    <li><a href="/produto/adicionar/11">Adicionar produto 11</a></li>
    <li><a href="/produto/adicionar/12">Adicionar produto 12</a></li>
    <li><a href="/produto/adicionar/13">Adicionar produto 13</a></li>
</nav>